/* Main container for the reset password */
.change-password-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: #f4f4f4;
}

/* Styling for the reset password form container */
.form-box {
  position: relative;
  width: 500px;
  background: #fff;
  padding: 50px;
  border-radius: 6px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.15);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* Heading */
.form-box h2 {
  font-size: 2.5em;
  color: #00BFFF;
  text-transform: uppercase;
  text-align: center;
}

.change-password-form{
    width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

/* Form inputs */
.input-field {
  position: relative;
  width: 100%;
}

.input-field input {
  width: 100%;
  background: #f3f3f3;
  border: none;
  outline: none;
  padding: 15px;
  border-radius: 6px;
  color: #333;
  font-size: 1em;
  font-weight: 500;
}

.input-field label {
  position: absolute;
  top: 0;
  left: 15px;
  font-size: 1em;
  color: #aaa;
  pointer-events: none;
  transition: all 0.2s ease-in-out;
}

.input-field input:focus ~ label,
.input-field input:valid ~ label {
  font-size: 0.9em;
  color: #00BFFF;
  transform: translateY(-100%);
}

/* Reset Password button */
button.primary-btn {
  padding: 18px;
  background: #00BFFF;
  color: #fff;
  width: 100%;
  font-weight: 600;
  font-size: 1.3em;
  letter-spacing: 0.05em;
  cursor: pointer;
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  transition: background 0.3s ease;
}

/* Button hover effect */
button.primary-btn:hover {
  background: #008CBA;
}

/* Links at the bottom of the form */
.form-box .links {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: 1em;
}

.form-box .links a {
  color: #00BFFF;
  text-decoration: none;
  font-weight: 600;
}

.form-box .links a:hover {
  text-decoration: underline;
}

/* Spinner for loading */
.spinner {
  border: 3px solid #f3f3f3;
  border-radius: 50%;
  border-top: 3px solid #fff;
  width: 15px;
  height: 15px;
}

/* Responsive design */
@media (max-width: 900px) {
  .form-box {
    width: 80%;
    padding: 40px;
  }
}

@media (max-width: 600px) {
  .form-box {
    width: 90%;
    padding: 30px;
  }
}
