/* Sidebar styles */
.sidebar {
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.sidebar h3 {
  color: #2c3e50;
  font-size: 18px;
  margin-bottom: 10px;
}

.sidebar label {
  font-size: 14px;
  color: #555;
}

.sidebar input {
  padding: 5px;
  margin-left: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  width: 80px;
  font-size: 14px;
}

.sidebar button {
  padding: 10px 20px;
  background-color: #8B0000 !important; /* Blue color */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  margin-top: 15px;
}

.sidebar button:hover {
  background-color: #8B0000 !important; /* Darker blue for hover */
}
/* Product list styles */
.product-list {
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
