.CompactCard {
  display: flex;
  flex: 1;
  height: 7rem !important;
  border-radius: 0.7rem;
  color: white;
  padding: 1rem;
  position: relative;
  cursor: pointer;
  transition: all 0.3s ease;
}
.CompactCard:hover {
  box-shadow: none !important;
}

/* Card.css */
/* .CompactCard {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 200px;
  height: 100px;
  border-radius: 10px;
  color: #fff;
  padding: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.CompactCard:hover {
  transform: scale(1.1);
} */

.icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  width: 36px;
  height: 36px;
  color: white;
}


/* radial bar */
.radialBar {
  flex: 1 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 1rem;
}
.CircularProgressbar {
  width: 4rem !important;
  overflow: visible;
}
.CircularProgressbar-path {
  stroke: white !important;
  stroke-width: 12px !important;
  filter: drop-shadow(2px 4px 6px white);
}
.CircularProgressbar-trail {
  display: none;
}
.CircularProgressbar-text {
  fill: white !important;
}

.radialBar > span {
  font-size: 17px;
  font-weight: bold;
}

/* sideDetail*/
.detail {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}

.detail > span:nth-child(2) {
  font-size: 22px;
  font-weight: bold;
}
.detail > span:nth-child(3) {
  font-size: 12px;
}

/* ExpandedCard */
.ExpandedCard {
  position: fixed; /* Changed to fixed for center alignment */
  top: 50%; /* Center vertically */
  left: 50%; /* Center horizontally */
  transform: translate(-50%, -50%); /* Shift the card to the center */
  width: 60%;
  height: 70vh;
  z-index: 9;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 1.5rem;
  background: linear-gradient(135deg, #6a11cb, #2575fc); /* Gradient background for a fascinating look */
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25); /* Soft shadow for better visibility */
  color: rgb(19, 16, 16);
  animation: fadeIn 0.5s ease-in-out; /* Subtle fade-in animation */
}

.ExpandedCard > span:nth-of-type(1) {
  color: white;
  font-size: 26px;
  font-weight: bold;
  text-shadow: 0px 0px 15px rgba(255, 255, 255, 0.6); /* Softer glow */
}

.ExpandedCard > span:nth-of-type(2) {
  color: rgb(236, 236, 236);
  font-size: 15px;
}

.chartContainer {
  width: 70%;
}

/* Responsive for medium screens */
@media screen and (max-width: 1200px) {
  .ExpandedCard {
    width: 70%;
    height: 60vh;
  }
}

/* Responsive for small screens */
@media screen and (max-width: 768px) {
  .ExpandedCard {
    width: 80%;
    height: 50vh;
    padding: 1rem;
  }
}

/* Fade-in animation */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translate(-50%, -60%);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}

